//extend.scss
%boxshadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
%padding {
    padding: {
        top: 2vw;
        right: 4vw;
        bottom: 2vw;
        left: 4vw;
    }
}

//font-size, font-weight
//padding-top, padding-right, padding-bottom 