@mixin fontSizeBgColor($fontSize: 16px, $bgColor: $bg-color, $color: $color-red) {
    font-size: $fontSize;
    background-color: $bgColor;
    color: $color;
}

@mixin hover($color:$color-red, $bgColor:$bg-color) {
    color: $color;
    background-color: $bgColor;
}

@mixin flexDirectJustifyAlignGap($direct:row, $justify:flex-start, $align:flex-start, $gap:$gu1 * 0.5){
    display: flex;
    flex-direction: $direct;
    justify-content: $justify;
    align-items: $align;
    gap:$gap;
}